<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Registro da Bolsa</h4>
                    </div>
                    <div class="card-content">
                        <form>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">ID da Bolsa</label>
                                        <input type="text" [(ngModel)]="b.bolsaId" name="bolsaId" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">ABO (A, B, AB e O)</label>
                                        <input type="text" [(ngModel)]="b.abo" name="abo" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">RH  (+  ou  -) </label>
                                        <input type="text" [(ngModel)]="b.rh" name="rh" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">Hemocomponente</label>
                                        <input type="text" [(ngModel)]="b.hemocomponente" name="hemocomponente" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">Volume</label>
                                        <input type="text" [(ngModel)]="b.volume" name="volume" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group col-sm-6">
                                        <label>Data de Validade</label>
                                        <input type="date" name="datavalidade" [(ngModel)]="b.datavalidade" placeholder="24/04/2018" min="2000-01-01" max="2018-12-31"
                                            required />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group col-sm-6">
                                        <label>Data de Fracionamento</label>
                                        <input type="date" name="datafracionamento" [(ngModel)]="b.datafracionamento" placeholder="24/04/2018" min="2000-01-01" max="2018-12-31"
                                            required />
                                    </div>
                                </div>
                            </div>
                            <br>

                            <button type="submit" class="btn btn-danger pull-right" (click)="register()">Registrar</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <div *ngIf="qrcode">
                            <a href="">
                                <img class="img" src={{qrcode}} />
                            </a>
                        </div>
                        <div *ngIf="!qrcode">
                            <a href="">
                                <img class="img" src='../../assets/img/qrcode.png' />
                            </a>
                        </div>
                    </div>

                    <div class="content">
                        <h6 class="category text-gray">QrCode</h6>
                        <h4 class="card-title">Bolsa de Sangue</h4>
                        <a href="" class="btn btn-danger btn-round">Imprimir</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>